<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Song Information</title>
</head>
 <body>
    <div class="container">
      <!-- Navigation Bar -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/search">Search</a></li>
          <li><a href="/profile">My Profile</a></li>
        </ul>
        <% if (taco ===0) { %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="signup">Sign up</a></li>
          <li><a href="login">Log in</a></li>
        </ul>
        <% } else { %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Log Out</a></li>
        </ul>
        <% }; %>
      </div>
    <!-- End of Navigation Bar -->

	<h2><u>Song Information</u>:</h2>
	<div>
		<br><u><b>Song Title:</b></u> <%= mySong.song_title %></a><br>
		<br><u><b>Album Name:</b></u> <%= mySong.album_title %></a><br>
		<br><u><b>Artist Name:</b></u> <%= mySong.artist_name %></a><br>
		<br><u><b>Copyright:</b></u> <%= mySong.copyright %></a>

		<br><br><form method="POST" action="/songs/<%= mySong.id %>?_method=DELETE">
      <button type="submit">Delete Song</button>
    </form>
	</div>
</body>
</html>